@use './_mixins.scss' as mixins;

// Alight input label styles
.cka-input-label {
  display: block;
  font-weight: var(--font-weight-bold);
}

// Alight text input styles
.cka-input-text,
.cka-textarea {
  appearance: none;
  background: var(--neutral-white);
  border-radius: 0;
  border: 1px solid var(--neutral-dove-gray);
  color: var(--gray-700);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  padding: mixins.toRem(9) mixins.toRem(16);
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

  &:enabled {
    &:hover {
      border-color: var(--neutral-black);
    }

    &:focus {
      border-color: var(--primary);
      box-shadow: var(--focus-state);
      outline-offset: 0;
      outline: none;
    }

    &.invalid,
    &.invalid:hover,
    &.invalid:focus {
      border-color: var(--error);
    }
  }

  &.ng-dirty.ng-invalid {
    border-color: var(--error);
  }

  &.cka-input-label-sm {
    font-size: var(--font-size-sm);
    padding: mixins.toRem(12) mixins.toRem(12) !important;
  }

  &.cka-input-label-lg {
    font-size: var(--font-size-xl);
    padding: mixins.toRem(20) mixins.toRem(20);
  }
}

// Validation classes
.cka-error-message {
  color: var(--error);
  display: none;
  font-size: 0.875rem;
  margin-top: 0.25rem;

  &.visible {
    display: block;
  }
}

.cka-note-text {
  font-size: mixins.toRem(14);
  margin: 2rem 0 0;
}

::placeholder {
  color: var(--gray-500);
  font-weight: var(--font-weight-normal);
}